:root{
  --primary:rgb(0, 170, 255);
  --padding:12px;
  --gray: rgb(79, 78, 78);
}
*{
  margin:0;
  padding:0;
  font-family: 'PT Sans Narrow', sans-serif;
}
.img{
  background-image: url(./img/imagenTwitter.png);
  background-position: center center;
  background-size: cover;
  height:200px;
}
.active{
  border-bottom:solid 3px var(--primary);
}



/*--------code the spinner-------*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 16px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
  
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*Spinner blue*/
.lds-ring-blue {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 16px;
}
.lds-ring-blue div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-bottom: 2px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  animation: lds-ring-blue 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary) transparent transparent transparent;
}
.lds-ring-blue div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring-blue div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring-blue div:nth-child(3) {
  animation-delay: -0.15s;
  
}
@keyframes lds-ring-blue {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.liked {
  color:red;
  border:none;
  outline:none;
}